<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B'DayDB</title>
</head>
<body>
    <div class="deleteBday">
        <form action="/delete" method="post">
            <label for="Person">Enter the name of the person whose entre is to be deleted:</label>
            <input type="text" name="Person" id="Person" required><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>