<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B'DayDB</title>
</head>
<body>
    <div class="viewBday">
        <h1>Here are all of the birthdays added so far:</h1>
        <ol>
            <% result.forEach(function(element){ 
                var name = element.Person;
                var BDay = element.Birthday;
                console.log(name, BDay) %>
            <li>Name: <%= name %>  <br> Birthday: <%= BDay %></li>
            <% }); %>
        </ol>
    </div>
</body>
</html>